/* Regular */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('../Fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Apply to entire website */
body {
  font-family: 'Neue Montreal', -apple-system, BlinkMacSystemFont, sans-serif;
}