
.body {
    background-color: #070707;
    z-index: 1;
}
/* header Section */
header{
    background-color:transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: auto;
    height: 90px;
    padding: 0 87px;
    margin: 0 auto;
    box-sizing: border-box;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; 
}

header.scrolled {
    /* Dark background with slight transparency */
    background-color: rgba(7, 7, 7, 0.95); 
     /* Blur effect */
    backdrop-filter: blur(10px);
     /* Safari support */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional: adds shadow */
}

.header_Logo__image{
width: 160px;
height: auto;
display: block;


}
.nav-bar{
    display: flex;
    align-items: center;
    gap:60px;
}
.nav_barIcon{
    background-image: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding-left: 30px;
    padding-right: 20px;
}
.nav-list__item {
    list-style: none;
    padding-top: 10px;
    
    
}

.nav-list__item a {
    color: #F2F2F2;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    
}
.backgroundlight_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    z-index: -1;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 160px 10px; /* Adjust padding as needed */
}
.hero__title {
    font-size: 100px;
    margin-bottom: -10px;
    background: linear-gradient(90deg, #626262 2.88%, #F2F2F2 73.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    font-weight: 500;
}
.hero__subtitle {
    font-size: 24px;
    color: #F2F2F2;
    font-style: normal;
    font-weight: 400;
}