import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./pages/**/*.{js,ts,jsx,tsx,mdx}",
    "./components/**/*.{js,ts,jsx,tsx,mdx}",
    "./app/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {
      colors: {
        'brand-purple': '#6C63FF',
        'brand-dark': '#070707',
        'brand-gray': '#626262',
        'brand-light': '#F2F2F2',
      },
    },
  },
  plugins: [],
};

export default config;

fontFamily: {
  'neue': ['"Neue Montreal"', 'sans-serif'],
  'dm-sans': ['var(--font-dm-sans)', 'sans-serif'],
  'inter': ['var(--font-inter)', 'sans-serif'],
  'lexend': ['var(--font-lexend-deca)', 'sans-serif'],
},